@model WebApplication3.Models.ClaimInfo

@{
    ViewBag.Title = "ClaimProcedure";
}

<h2>ClaimProcedure</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ClaimInfo</h4>
        <hr />
        @*
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Claim_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claim_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claim_Date, "", new { @class = "text-danger" })
            </div>
        </div>
            *@
        <div class="form-group">
            @Html.LabelFor(model => model.Claim_Reason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claim_Reason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claim_Reason, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
        <div class="form-group">
            @Html.LabelFor(model => model.Claim_Approval_Result, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claim_Approval_Result, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claim_Approval_Result, "", new { @class = "text-danger" })
            </div>
        </div>
            *@
        <div class="form-group">
            @Html.LabelFor(model => model.Claim_Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Claim_Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Claim_Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
        <div class="form-group">
            @Html.LabelFor(model => model.Registration_Id, "Registration_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Registration_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Registration_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Policy_Number, "Policy_Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Policy_Number", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Policy_Number, "", new { @class = "text-danger" })
            </div>
        </div>
            *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to HomePage", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
